<nav *ngIf="showNavbar" class="navbar navbar-expand-lg navbar-light bg-light mb-2">
    <div class="container-fluid">
        <a class="web-name navbar-brand" [routerLink]="'/about-us'" title="About us">
            <img src="../../assets/images/logo2.png" height="40px" width="40px" alt="">
            Intern Finder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li *ngIf="showPostInternship" class="nav-item"
                    [ngClass]="{'active-route':router.url.includes('post-internship')}">
                    <a class="nav-link" [routerLink]="'/post-internship'">Post Attachment&nbsp;</a>
                </li>

                <li class="nav-item" [ngClass]="{'active-route':router.url.includes('internships')}">
                    <a class="nav-link" [routerLink]="'/internships'">Internships&nbsp;</a>
                </li>

                <li *ngIf="profile.authority == 'STUDENT'" class="nav-item"
                    [ngClass]="{'active-route':router.url.includes('members')}">
                    <a class="nav-link" [routerLink]="'/members'">Employers&nbsp;</a>
                </li>
                <li class="nav-item" [ngClass]="{'active-route':router.url.includes('users')}">

                    <a>
                        <img src="{{profile.profileImageUrl}}" onError="this.src='assets/images/plain-user.png'"
                            class="avatar img-circle" height="35px" width="40px" (click)="toProfile()">
                    </a>

                    <h6 style="display:inline">&nbsp;&nbsp;&nbsp;&nbsp;</h6>
                    <p style="display:inline" class="dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    <div class="dropleft w3-right">
                        <div></div>
                        <ul class="dropdown-menu" data-toggle="bottom-right" style="right:0">

                            <li style='padding:5px' class="dropdown-submenu">Signed in as {{profile.username}} </li>
                            <li style='padding:5px' class="dropdown-submenu">({{userEmail}})</li>
                            <li class="dropdown-divider"></li>
                            <button class="btn btn-outline-secondary dropdown-item" (click)="toProfile()"><i
                                    class="far fa-user-circle"></i>&nbsp;&nbsp;Profile </button>
                            <li class="dropdown-divider"></li>
                            <!-- <li style='padding:5px' class="dropdown-submenu">Settings</li> -->


                            <button class="btn btn-outline-secondary dropdown-item" (click)="logOut()"><i
                                    class="fas fa-sign-out-alt"></i>&nbsp;&nbsp; Log out </button>

                        </ul>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</nav>