<div class="container-fluid internship-detail">

    <div *ngIf="internshipDetail" class="container">


        <button class="btn btn-back btn-outline-secondary mb-3" [routerLink]="['/internships']">
            <span><i class="fas fa-arrow-left"></i></span> Internships
        </button>
        <div class="card p-3">

            <div>
                <div class="row">
                    <div class="col-md-3 col-2 text-center ">
                        <div class="image-holder">
                            <!-- <img *ngIf="internshipDetail.profileImageUrl" src={{userBioDetail.profileImageUrl}}
                        class="card-img-top " onError="this.onerror=null; this.src='assets/images/plain-user.png' "> -->
                            <svg class="img-fluid rounded float-start" width="100%" height="100%"
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <rect width="90%" height="auto" fill="#e1e1e1"></rect>
                                <text x="40%" y="50%" fill="#202a44" dy=".3em" dx="-.1em" font-size="10ch"
                                    font-weight="bold">{{internshipDetail?.companyName?.slice(0, 1) | uppercase}}</text>
                            </svg>
                        </div>
                    </div>
                    <div class="col-md-9">

                        <div class="content">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4 class="section-title">{{internshipDetail.internshipTitle}}</h4>
                                </div>
                                <div class="col-2 pe-3 text-end">
                                    <button class="btn btn-outline-secondary btn-edit-internship"
                                        *ngIf="isPostedByMe">Edit internship</button>
                                    <button class="btn btn-outline-secondary btn-edit-internship"
                                        *ngIf="!isEmployer">Apply internship</button>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="profile-name">{{internshipDetail.companyName}}</h4>

                                </div>
                               

                            </div>

                            <div *ngIf="internshipDetail.companyName" class="mt-2">
                                <span class="description">
                                    <i class="fas fa-envelope"></i>
                                    <span class="bold-text"> {{internshipDetail.companyEmail}}</span>
                                </span>

                            </div>


                            <div class="mt-2">
                                <span class="description"><i class="fas fa-history me-3"></i>Joined Intern Finder
                                    {{internshipDetail.createdOn}}</span>
                               
                            </div>


                        </div>
                    </div>
                  
                </div>

                <div hidden class="col-md-9">

                    <div class="content">
                        <h4 class="section-title">{{internshipDetail.internshipTitle}}</h4>

                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="profile-name">{{internshipDetail.companyName}}</h4>

                            </div>

                        </div>

                        <div *ngIf="internshipDetail.companyName" class="mt-2">
                            <span class="description">
                                <i class="fas fa-briefcase me-3"></i>
                                <span class="bold-text">{{internshipDetail.companyEmail}}</span>
                                <span class="bold-text">{{internshipDetail.companyName}}</span>
                            </span>

                        </div>


                        <div class="mt-2">
                            <span class="description"><i class="fas fa-history me-3"></i>Joined Intern Finder
                                {{internshipDetail.createdOn}}</span>
                            <span class="px-2"><i class="far fa-clock"></i> Last seen 2 days ago</span>
                        </div>


                    </div>
                </div>
            </div>

            <div hidden class="mt-2">
                <div>
                    <form role="form">
                        <div align="centre">
                            <div class="container">

                                <div>
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="card bg-light p-1 mb-4 col-md-8">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="ms-1">
                                                        <label>
                                                            <h6> <u>Position Title</u></h6>
                                                        </label>
                                                        <p>{{internshipDetail.internshipTitle}}</p>
                                                    </div>
                                                    <div class="col-md-6 text-end">
                                                        <button class="btn btn-outline-secondary btn-edit-internship"
                                                            *ngIf="isPostedByMe">Edit
                                                            internship</button>
                                                    </div>

                                                    <div>
                                                        <label>
                                                            <h6> <u>Offer Company </u></h6>
                                                        </label>
                                                        <p>{{internshipDetail.companyName}}</p>
                                                    </div>
                                                    <div>
                                                        <label>
                                                            <h6><u> Company Email </u></h6>
                                                        </label>
                                                        <p>{{internshipDetail.companyEmail}}</p>
                                                    </div>

                                                    <div>
                                                        <label>
                                                            <h6><u> Internship Type </u></h6>
                                                        </label>
                                                        <p>{{internshipDetail.internshipType}}</p>
                                                    </div>
                                                    <div>
                                                        <i *ngIf="internshipDetail.internshipStatus === 'ACTIVE'"
                                                            class="fas fa-check-circle">{{internshipDetail.internshipStatus}}
                                                            recruting</i>
                                                        <i *ngIf="internshipDetail.internshipStatus === 'CLOSED'"
                                                            class="fas fa-times-circle">{{internshipDetail.internshipStatus}}</i>
                                                    </div>

                                                </div>
                                                <div class="col-md-8">

                                                    <div>
                                                        <label>
                                                            <h6> <u>internshipDetail Description</u> </h6>
                                                        </label>
                                                        <p>{{internshipDetail.description}}</p>
                                                    </div>

                                                    <div>
                                                        <label>
                                                            <h6><u> Responsibilities</u> </h6>
                                                        </label>
                                                        <p>{{internshipDetail.responsibilities}}</p>
                                                    </div>

                                                    <div>
                                                        <label>
                                                            <h6> <u>Skills </u></h6>
                                                        </label>
                                                        <p>{{internshipDetail.skills}}</p>
                                                    </div>

                                                    <div>
                                                        <label>
                                                            <h6> <u>Important Info </u></h6>
                                                        </label>
                                                        <p>{{internshipDetail.important}}</p>
                                                    </div>

                                                </div>

                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div hidden class="col-md-2">
                                                    <button class="btn btn-outline-secondary"><i
                                                            class="fa-solid fa-circle-check"></i> Apply</button>

                                                </div>
                                                <div>
                                                    <button class="btn btn-outline-primary"
                                                        [disabled]="internshipDetail.internshipStatus==='ACTIVE'">

                                                        <i class="fa-solid fa-circle-check"></i> Apply</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>


</div>