.image-holder{
    img,svg{
      border: 1px solid #f1f1f1;
    }
  }
  p{
    font-size: 20px;
    display: inline;
  }
  img{
    height: auto;
    width: auto;
  }
  video{
    height: auto;
    width: auto;
  }
.file{
    height: 600px;
    width: auto;
  }
  ngx-doc-viewer{
    height: auto;
    width: auto;
  }