<div class="container bootstrap snippets bootdey">

    <div class="row">

        <div class="col-md-3">
            <div class="text-center">
                <div class="col-md-2 col-2 pt-2">

                    <img *ngIf="profile.profileImageUrl" src={{profile.profileImageUrl}} class="avatar img-circle"
                        onError="this.onerror=null; this.src='assets/images/plain-user.png' ">
                    feeee
                    <svg *ngIf="!profile.profileImageUrl" class="img-fluid rounded float-start" width="100%" height="43"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title></title>
                        <circle width="100%" height="100%" fill="#e1e1e1"></circle><text x="40%" y="50%" fill="#202a44"
                            dy=".3em" font-size="large" font-weight="bold">{{profile?.email?.slice(0, 1) |
                            uppercase}}</text>
                    </svg>

                </div>
                <img src="{{profile.profileImageUrl}}" onError="this.src='assets/images/plain-user.png'"
                    class="avatar img-circle" height="50px" width="50px">

            </div>
        </div>
    </div>

    <div class="dropdown w3-right">
        <div class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">

        </div>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="right:0">

            <a class="dropdown-item">Action</a>
            <a class="dropdown-item">Another action</a>
            <a class="dropdown-item">Something else here</a>
        </div>
    </div>

    <div>
        <span style='cursor:pointer; float:right'>
            <div class="btn-group pull-right">
                <button id='majic' type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cog"></span>
                </button>
                <ul style='padding:10px' class="dropdown-menu">
                    <li class="dropdown-submenu">
                        <input id="full_package_filter" type="checkbox" name="vehicle" checked>Helloooooooo<span
                            class='useful_stat'></span>
                        <br>
                        <input id="not_full_package_filter" type="checkbox" name="vehicle" checked>Yessssssssssss<span
                            class='useful_stat'></span>
                        <br>
                    </li>
                    <li class="dropdown-submenu">one</li>
                    <li class="dropdown-submenu">twio</li>
                    <li class="dropdown-submenu"></li>
                </ul>
            </div>
        </span>
    </div>



      



</div>
<div class="w3-container">
    <h2>Right-aligned Dropdown</h2>
    <p>Use the w3-right class to float the dropdown to the right, and use CSS to position the dropdown content (right:0 will make the dropdown menu go from right to left).</p>
  
    <div class="w3-dropdown-hover w3-right">
      <button class="w3-button w3-black">Dropdown</button>
      <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
        <a href="#" class="dropdown-item">Link 1wwwwwwwwwwwwwwww</a>
        <a href="#" class="dropdown-item">Link 2</a>
        <a href="#" class="dropdown-item">Link 3</a>
      </div>
    </div>
  
    <div class="w3-clear"></div>
    
    <p>Note: Remember to clear floats if you use w3-right or w3-left. Remove the div class="w3-clear" to understand why.</p>
  </div>