<div class="container-fluid justify-content-center">
    <div>
        <div class="ml-5 pl-5">
            <div class="ml-5 pl-5">
                <div class="ml-5 pl-1">
                    <button class="btn btn-back btn-outline-secondary mb-3 ml-5"
                        [routerLink]="['/internship', internship.id]">
                        <span><i class="fas fa-arrow-left"></i></span> Back
                    </button>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div>

                <form role="form">
                    <div align="centre">
                        <div>
                            <div class="row">


                                <div class="col-md-2"></div>
                                <div class="card bg-light  p-3 col-md-8">

                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="companyName">Company Name *</label>
                                            <input *ngIf="!companyDetails" type="text" class="form-control"
                                                name="companyName" [(ngModel)]="companyDetails">
                                            <input *ngIf="companyDetails" readonly type="text" class="form-control"
                                                name="companyName" [(ngModel)]="companyDetails">
                                        </div>


                                        <div class="col-md-6">
                                            <label for="companyEmail">Company Email * </label>
                                            <input readonly type="email" class="form-control" name="companyEmail"
                                                [(ngModel)]="internship.companyEmail">
                                        </div>
                                    </div>

                                    <div class=" row mb-3">
                                        <div class="col-md-6">
                                            <label for="internshipTitle">internship Title * </label>
                                            <input type="text" class="form-control" name="internshipTitle"
                                                [(ngModel)]="internship.internshipTitle">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="minimumQualification">Minimum qualification * </label>
                                            <select autocomplete="on" type="text" style="height: 35px; width: 588px;"
                                                name="minimumQualification"
                                                [(ngModel)]="internship.minimumQualification">

                                                <option
                                                    *ngFor="let minimumQualification of minimumQualifications">
                                                    {{minimumQualification}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="internshipType">Internship type *</label>

                                            <select autocomplete="on" type="text" style="height: 35px; width: 588px;"
                                                name="internshipType" [(ngModel)]="internship.internshipType">
                                                <option *ngFor="let internshipType of internshipTypes">
                                                    {{internshipType}}
                                                </option>
                                            </select>
                                        </div>
                                        <div *ngIf="internship.workPlaceType === 'ONSITE' || internship.workPlaceType === 'HYBRID'"
                                            class="mb-3 col-md-6">
                                            <label for="location">internship Location * </label>
                                            <input type="text" class="form-control" name="location"
                                                [(ngModel)]="internship.location">
                                        </div>

                                    
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="reportingDate"> Submission Deadline * </label>
                                            <input type="date" class="form-control" name="reportingDate"
                                                [(ngModel)]="internship.reportingDate">
                                        </div>

                                        <div class="col-md-6">
                                            <label for="workPlaceType">Place of work *</label>
                                            <select autocomplete="on" style="height: 35px; width: 588px;"
                                                name="institution" type="text" [(ngModel)]="internship.workPlaceType">
                                                <option *ngFor="let workPlaceType of workPlaceTypes">
                                                    {{workPlaceType}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="experienceLevel">Experience Level * </label>
                                            <select autocomplete="on" type="text" style="height: 35px; width: 588px;"
                                                name="experienceLevel" [(ngModel)]="internship.experienceLevel">
                                                <option *ngFor="let experienceLevel of experienceLevels ;let i = index">
                                                    {{experienceLevel}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="status">Status *</label>
                                            <select autocomplete="on" style="height: 35px; width: 588px;" name="status"
                                                type="text" [(ngModel)]="internship.internshipStatus">

                                                <option *ngFor="let status of internshipStatus">
                                                    {{status}}
                                                </option>
                                            </select>

                                        </div>
                                    </div>

                                    <div>
                                        <div class="row mb-3">
                                            <div class="mb-3 col-md-6">
                                                <label for="internshipPeriod">internship Period * <small>( In months
                                                        )</small> </label>
                                                <select autocomplete="on" style="height: 35px; width: 588px;"
                                                    name="internshipPeriod" type="text"
                                                    [(ngModel)]="internship.internshipPeriod">

                                                    <option *ngFor="let in of counter(10) ;let i = index">
                                                        {{i+1}}
                                                    </option>
                                                </select>

                                            </div>
                                            <!-- <div class="col-md-6">
                                                <label for="vacancy">Vacancies Left * </label>
                                                <select autocomplete="on" style="height: 35px; width: 588px;"
                                                    name="vacancy" type="text" [(ngModel)]="internship.vacancy">

                                                    <option *ngFor="let in of counter(50) ;let i = index">
                                                        {{i+1}}
                                                    </option>
                                                </select>

                                            </div> -->

                                        </div>

                                    </div>
                                    <hr>

                                    <div class="row mb-3">


                                        <div class="col-md-6">
                                            <label for="description">internship Description * <small> (What the
                                                    internship
                                                    Entails)</small> </label>
                                            <angular-editor class="editor form-control"
                                                [placeholder]="'Enter internship description'" cols="55" rows="155" style="height: auto"
                                                name="description" [(ngModel)]="internship.description">
                                            </angular-editor>

                                        </div>
                                        <div class="col-md-6">
                                            <label for="skills">Required skills * </label>
                                            <angular-editor class="editor form-control"
                                                [placeholder]="'Enter required skills'" cols="55" rows="155" style="height: auto" 
                                                name="skills" [(ngModel)]="internship.skills"></angular-editor>
                                        </div>

                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="responsibilities">internship Responsibilities </label>
                                            <angular-editor class="editor form-control"
                                                [placeholder]="'Enter required responsibilities'" cols="55" rows="155" style="height: auto"
                                                name="responsibilities" [(ngModel)]="internship.responsibilities">
                                            </angular-editor>

                                        </div>
                                        <div class="col-md-6">
                                            <label for="important">Important Info </label>
                                            <angular-editor class="editor form-control"
                                                [placeholder]="'Enter important info'" cols="55" rows="155" style="height: auto"
                                                name="important" [(ngModel)]="internship.important"></angular-editor>

                                        </div>

                                    </div>
                                    

                                    <div class="row">
                                        <div class="col-md-2">

                                            <button class="btn btn-outline-primary form-control"
                                                (click)="updateinternship()"
                                                [disabled]="!internship.internshipTitle || !internship.minimumQualification || !internship.internshipType || !internship.reportingDate || !internship.workPlaceType || !internship.experienceLevel || !internship.internshipStatus || !internship.internshipPeriod|| !internship.description || !internship.skills">Update</button>


                                            <!-- <button *ngIf="userBio.id" class="btn btn-outline-primary form-control"
                                    (click)="updateUser()"
                                    [disabled]="!userBio.name || !userBio.email || !userBio.description || !userBio.internshipTitle || !userBio.skills">Update</button> -->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>