/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
.donut-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .donut {
    width: 3rem;
    height: 3rem;
    margin: 5rem;
    border-radius: 50%;
    border: 0.3rem solid #003d4c44;
    border-top-color: #003d4c;
    animation: 1.5s spin infinite linear;
    animation-duration: 3s;

   
  }
  .multi {
    border-bottom-color: #003d4c;
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
    
  }
  .editor{
    width: 600px;
    min-height: 300px;
}
::ng-deep .angular-editor-textarea {
    background: #fff!important;
    min-height: 200px!important;
  }
  p{
    font-size: 20px;
  }
