<div class="container-fluid">
    <div class="container col-md-6">
        <div>

            <div>
                <h4 class="justify content center">About</h4>

                <p>
                    Intern Finder brings students and employers together in one centralized location, providing
                    tools
                    and
                    services for students to develop the real-world skills they will need upon graduation and for
                    employers
                    to
                    find the best candidates.
                </p>
                <p>
                    Press Contact: Please direct all media requests to
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=joaninahmulwa@gmail.com&su=i need your help"
                        target="_blank">

                        joaninahmulwa@gmail.com
                    </a>

                </p>
            </div>

        </div>

    </div>

</div>