<div class="container-fluid">
    <div >
        <div>

            <div class="about--us">
                <h4  id = "about--h4"class="justify content center">About Us</h4>

                <p class="about--us--paragraph">
                    Intern Finder brings students and employers together in one centralized location, providing
                    tools
                    and
                    services for students to develop the real-world skills they will need upon graduation and for
                    employers
                    to
                    find the best candidates.
                </p>
                <p class="about--us--paragraph">
                    Press Contact: Please direct all media requests to
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=joaninahmulwa@gmail.com&su=i need your help"
                        target="_blank">

                        joaninahmulwa@gmail.com
                    </a>

                </p>
             
                    <div id = "handles--about" class="col-6 col-md-3">
                        <h4>Follow us</h4>
                        <a style="display: inline;" href="https://wa.me/qr/UERKZOPHBIZJK1" target="_blank"><i
                                class="fa-brands fa-whatsapp"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;
                        <a style="display: inline;" href="https://instagram.com/joanina_mulwa?igshid=YmMyMTA2M2Y=" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a style="display: inline;" href="https://twitter.com/Joaninah5?t=ZQHMoKzquEszEj_4oTvw4Q&s=09" target="_blank"><i
                                class="fa-brands fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a style="display: inline;" href="https://www.youtube.com" target="_blank"><i
                                class="fab fa-youtube"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
               
              
            </div>

        </div>

    </div>

</div>