<!-- Footer -->

<footer  class="footer footer footer-expand-lg footer-light bg-light mt-5">

    <div class="content container-fluid ">
        <div>
            <div class="row">
                <h2></h2>
                <div class="row">

                    <div class="col-md-3">
                        <div class="">
                            <a class="navbar-brand" [routerLink]="'/about-us'" title="About us">
                                <img src="../../assets/images/logo2.png" height="20px" width="40px" alt="">
                                Intern Finder</a>
                        </div>
                    </div>

                    <div class="col-md-2">
                    </div>

                    <div class="col-6 col-md-3">
                        <h4 style="display: inline;">Follow us</h4>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a style="display: inline;" href="https://wa.me/qr/UERKZOPHBIZJK1" target="_blank"><i
                                class="fa-brands fa-whatsapp"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;
                        <a style="display: inline;" href="https://instagram.com/joanina_mulwa?igshid=YmMyMTA2M2Y=" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a style="display: inline;" href="https://twitter.com/Joaninah5?t=ZQHMoKzquEszEj_4oTvw4Q&s=09" target="_blank"><i
                                class="fa-brands fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a style="display: inline;" href="https://www.youtube.com" target="_blank"><i
                                class="fab fa-youtube"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>



                </div>
            </div>
        </div>

    </div>
</footer>
<!-- Footer -->




