<div class="container">
    <div class="card mt-5">
        <div class="row  p-5">
            <div class="col-md-6 hide-sm">
                <h2 class="mb-3 text-center">Find Intern . Give internships . Connect</h2>
                <!-- <h2 class="mb-3 text-center">Lets Grow Together</h2> -->
                <h4 class="text-center">Enabling growth by connecting, finding and giving internships!</h4>
                <img class="landing-image" src="assets/InternConnect2.png" style="width: 550px; height: 450px;" />
            </div>
            <div class="col-md-6">
                <div class="justify-content-center">
                    <div *ngIf="!forgotPass">

                        <form role="form">
                            <div *ngIf="!showRegister">
                                <div class="row">
                                    <div class="col-md-3 mb-5">
                                        <h4>Login</h4>
                                    </div>
                                    <div class="col-md-7">
                                        <div *ngIf="loginFailure" class="alert alert-dismissible alert-danger fade show"
                                            role="alert">
                                            {{loginFailure}}
                                            <button type="button" class="btn-close" aria-label="Close"
                                                data-bs-dismiss="alert"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="mb-2" for="email"><strong>Email</strong></label>
                                    <input type="email" name="email" class="form-control"
                                        [(ngModel)]="userLogins.email">
                                </div>

                                <div class="mb-4">
                                    <div class="form-group inner-addon right-addon">
                                        <label class="mb-2" for="password"><strong>Password</strong></label>
                                        <div class="input-group col-6 mx-auto">
                                            <input name="password" [type]="showPassword ? 'text' : 'password'"
                                                class="form-control pwd-control" id="password-field"
                                                placeholder="Password" [(ngModel)]="userLogins.password">
                                            <div>
                                                <i alt="show" class="far fa-eye eye-show"
                                                    (click)="showPassword = !showPassword"
                                                    [class.hide]="showPassword"></i>
                                                <i alt="hide" class="far fa-eye-slash eye-hide"
                                                    (click)="showPassword = !showPassword"
                                                    [class.hide]="!showPassword"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <small class="text-primary" type="text" (click)="forgotPassword()">Forgot
                                        Password?</small>
                                </div>




                                <button class="btn btn-secondary form-control mt-3 mb-3" (click)="loginUser()"
                                    [disabled]="!userLogins.email || !userLogins.password">LOGIN</button>
                            </div>
                            <div *ngIf="showRegister">
                                <div class="row">
                                    <div class="col-md-3 mb-5">
                                        <h4>Register</h4>
                                    </div>
                                    <div class="col-md-7">
                                        <div *ngIf="registerSuccess"
                                            class="alert alert-dismissible alert-success fade show" role="alert">
                                            {{registerSuccess}}
                                            <button type="button" class="btn-close" aria-label="Close"
                                                data-bs-dismiss="alert"></button>
                                        </div>
                                        <div *ngIf="registerFailure"
                                            class="alert alert-dismissible alert-danger fade show" role="alert">
                                            {{registerFailure}}
                                            <button type="button" class="btn-close" aria-label="Close"
                                                data-bs-dismiss="alert"></button>
                                        </div>
                                    </div>
                                </div>
                                
                                    <div>
                                        <div class="row justify-content-center text-center">
                                            <div class="card pt-2">
                                                <h5 class="text-center"> What best describes your current status?</h5>
                                                <div class="d-flex justify-content-around mt-3 mb-4">
                                                    <button class="btn btn-outline-primary" (click)="setAuthority('STUDENT')"> I am a
                                                        Student</button>
                                                    <!-- <button type="button" onclick="studentDetails()" value = "Display">student</button>-->
                            
                                                    <button class="btn btn-outline-primary" (click)="setAuthority('EMPLOYER')" >I am a
                                                        Employer </button>
                                                </div>
                                            </div>
                                        </div>
                            
                                        <br>
                                    </div>
                                
                                <div class="mb-4">
                                    <label class="mb-2" for="email"><strong>Email</strong></label>
                                    <input type="text" name="email" class="form-control" [(ngModel)]="userLogins.email">
                                </div>
                                <div class="mb-5">
                                    <div class="form-group inner-addon right-addon">
                                        <label class="mb-2" for="password"><strong>Password</strong></label>
                                        <div class="input-group col-6 mx-auto">
                                            <input name="password" [type]="showPassword ? 'text' : 'password'"
                                                class="form-control pwd-control" id="password-field"
                                                placeholder="Password" [(ngModel)]="userLogins.password">
                                            <div>
                                                <i alt="show" class="far fa-eye eye-show"
                                                    (click)="showPassword = !showPassword"
                                                    [class.hide]="showPassword"></i>
                                                <i alt="hide" class="far fa-eye-slash eye-hide"
                                                    (click)="showPassword = !showPassword"
                                                    [class.hide]="!showPassword"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="text-center btn btn-secondary form-control mt-3 mb-3"
                                    (click)="registerUser()"
                                    [disabled]="!userLogins.email || !userLogins.password || !userLogins.authority">CREATE ACCOUNT</button>
                            </div>

                            <div>
                                <div class="row p-4">
                                    <hr class="col-md-6">
                                    Or
                                    <hr class="col-md-5">
                                </div>
                                <div class="row justify-content-center mb-1">
                                    <button class="col-md-4 btn btn-outline-primary"
                                        [routerLink]="['/loginWithGoogle']">
                                        {{showRegister ? 'Sign Up' : 'Sign In'}} with Google
                                    </button>
                                </div>

                            </div>

                            <div class="mt-5">
                                <p *ngIf="showRegister">Already existing account? <a class="blue-text cursor-pointer"
                                        (click)="showRegister = !showRegister ; reset()"><strong>Login</strong></a></p>
                                <p *ngIf="!showRegister">Dont have an account? <a class="blue-text cursor-pointer"
                                        (click)="showRegister = !showRegister ; reset()"> <strong>Register</strong></a>
                                </p>
                            </div>
                        </form>
                    </div>

                    <div *ngIf="forgotPass">

                        <div class="row">
                            <div class="col-md-3 mb-3">

                                <button class="btn btn-outline-secondary mt-3 mb-5" (click)="backToLogin()"> <i
                                        class="fas fa-arrow-left"></i> Back</button>
                            </div>
                            <div class="col-md-7">
                                <div *ngIf="resetPassSuccess" class="alert alert-dismissible alert-success fade show"
                                    role="alert">
                                    {{resetPassSuccess}}
                                    <button type="button" class="btn-close" aria-label="Close"
                                        data-bs-dismiss="alert"></button>
                                </div>
                                <div *ngIf="resetPassFailure" class="alert alert-dismissible alert-danger fade show"
                                    role="alert">
                                    {{resetPassFailure}}
                                    <button type="button" class="btn-close" aria-label="Close"
                                        data-bs-dismiss="alert"></button>
                                </div>
                            </div>
                        </div>



                        <div class="mb-4">
                            <label class="mb-2" for="email"><strong>Email</strong></label>
                            <input type="text" name="email" class="form-control" [(ngModel)]="userLogins.email">
                        </div>


                        <div class="mb-4">
                            <div class="form-group inner-addon right-addon">
                                <label class="mb-2" for="password"><strong>Password</strong></label>
                                <div class="input-group col-6 mx-auto">
                                    <input name="password" [type]="showPassword ? 'text' : 'password'"
                                        class="form-control pwd-control" id="password-field" placeholder="Password"
                                        [(ngModel)]="userLogins.password">
                                    <div>
                                        <i alt="show" class="far fa-eye eye-show" (click)="showPassword = !showPassword"
                                            [class.hide]="showPassword"></i>
                                        <i alt="hide" class="far fa-eye-slash eye-hide"
                                            (click)="showPassword = !showPassword" [class.hide]="!showPassword"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-secondary form-control mt-3 mb-3" (click)="resetPassword()"
                            [disabled]="!userLogins.email || !userLogins.password">RESET PASSWORD</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>