<div class="container-fluid member-detail">
    <div *ngIf="userBioDetail" class="container ">
        <button class="btn btn-back btn-outline-secondary mb-3" (click)="back()">
            <span><i class="fas fa-arrow-left"></i></span> Back
        </button>
        <!-- <div class="donut-wrapper" *ngIf="loading">
            <div class="donut multi"></div>
        </div> -->
        <div class="card">
            <div class="pl-3 pr-3 pt-3 pb-3">
                <div class="row">
                    <div class="col-md-3 text-center ">
                        <div class="image-holder">
                            <img *ngIf="userBioDetail.profileImageUrl" src={{userBioDetail.profileImageUrl}}
                                class="card-img-top "
                                onError="this.onerror=null; this.src='assets/images/plain-user.png' ">
                            <svg *ngIf="!userBioDetail.profileImageUrl" class="img-fluid rounded float-start"
                                width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img"
                                aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                                <rect width="90%" height="auto" fill="#e1e1e1"></rect>
                                <text x="40%" y="50%" fill="#202a44" dy=".3em" dx="-.1em" font-size="10ch"
                                    font-weight="bold">{{userBioDetail.username?.slice(0, 1) | uppercase}}</text>
                            </svg>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="content">
                            <div class="row">
                                <div class="col-md-6">

                                    <h4 class="section-title" style="text-decoration: underline">About :
                                        {{userBioDetail.name ? userBioDetail.name : userBioDetail.username}}</h4>

                                </div>
                                <div class="col-md-6 text-end">
                                    <button class="btn btn-outline-primary btn-edit-profile" *ngIf="isMe"
                                        [routerLink]="['/user/edit']"><i class="fas fa-user-edit"></i> Edit
                                        profile</button>
                                </div>
                            </div>

                            <div *ngIf="userBioDetail.authority == 'STUDENT'" class="STUDENT">
                                <p *ngIf="userBioDetail.name && userBioDetail.institution" class="profile-name">
                                    {{userBioDetail.name}} , student at {{userBioDetail.institution}}</p>

                                <p *ngIf="userBioDetail.programme" class="profile-name">Current level of education is
                                    {{userBioDetail.programme}}</p>
                                <p *ngIf="userBioDetail.course">Scope of study is {{userBioDetail.course}}</p>
                                <p *ngIf="userBioDetail.experienceLevel">Experience level:
                                    {{userBioDetail.experienceLevel}}
                                </p>

                                <div class="mt-2">
                                    <p class="ml-3"><i class="far fa-envelope me-3"></i><a
                                            href="mailto:{{userBioDetail.email}}">{{userBioDetail.email}}</a></p>

                                </div>

                                <div class="mt-2 ml-3">
                                    <span class="description"><i class="fas fa-history me-3"></i>Joined Intern Finder
                                        {{userBioDetail.createdOn}}</span>

                                </div>



                            </div>

                            <div *ngIf="userBioDetail.authority == 'EMPLOYER'" class="EMPLOYER">
                                <p>{{userBioDetail.name}} is a {{userBioDetail.companyIndustry}} company based in
                                    {{userBioDetail.companyLocation}} </p>
                                <div class="mt-2 mb-2">
                                    <span class="description"><i class="fas fa-history me-3"></i>Joined Intern Finder
                                        {{userBioDetail.createdOn}}</span>

                                </div>
                                <p *ngIf="userBioDetail.companyDescription" style="text-decoration: underline">
                                    Description
                                </p>
                                <p [innerHTML]="userBioDetail.companyDescription">
                                    <li>
                                        <ul>{{userBioDetail.companyDescription}}</ul>
                                    </li>
                                </p>
                                <p>For more info : </p>
                                <p *ngIf="userBioDetail.companyWebsite" class="ml-3"><i class="fas fa-globe me-3"></i><a
                                        href="{{userBioDetail.companyWebsite}}" target="_blank">
                                        {{userBioDetail.companyWebsite}}</a> </p>
                                <p class="ml-3"><i class="far fa-envelope me-3"></i><a
                                        href="mailto:{{userBioDetail.email}}">{{userBioDetail.email}}</a></p>
                                <p *ngIf="userBioDetail.companyPhoneNumber" class="ml-3"><i
                                        class="fas fa-phone-alt me-3"></i>
                                    {{userBioDetail.companyPhoneNumber}}</p>
                                <div *ngIf="userBioDetail.companyPostalAddress" class="ml-3"><i
                                        class="fas fa-map-marker-alt">&nbsp;&nbsp;&nbsp;</i>
                                    <p style="display:inline" [innerHTML]="userBioDetail.companyPostalAddress">
                                        {{userBioDetail.companyPostalAddress}}</p>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div hidden>
                        <!-- Tabs navs -->
                        <ul class="nav nav-tabs nav-justified mb-3" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="tab-1" data-mdb-toggle="tab" href="#ex3-tabs-1"
                                    role="tab" aria-controls="ex3-tabs-1" aria-selected="true">Posted Internships</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="ex3-tab-2" data-mdb-toggle="tab" href="#ex3-tabs-2" role="tab"
                                    aria-controls="ex3-tabs-2" aria-selected="false">Applicants</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="ex3-tab-3" data-mdb-toggle="tab" href="#ex3-tabs-3" role="tab"
                                    aria-controls="ex3-tabs-3" aria-selected="false">Closed</a>
                            </li>
                        </ul>
                        <!-- Tabs navs -->

                        <!-- Tabs content -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="ex3-tabs-1" role="tabpanel"
                                aria-labelledby="ex3-tab-1">
                                Tab 1 content
                            </div>
                            <div class="tab-pane fade" id="ex3-tabs-2" role="tabpanel" aria-labelledby="ex3-tab-2">
                                Tab 2 content
                            </div>
                            <div class="tab-pane fade" id="ex3-tabs-3" role="tabpanel" aria-labelledby="ex3-tab-3">
                                Tab 3 content
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div *ngIf="userBioDetail.authority == 'STUDENT' && userBioDetail.about" class="card mt-3">


            <h4 class="section-title mt-2 ml-3">About {{userBioDetail.name}}</h4>

            <div class="mt-1 ml-3">
                {{userBioDetail.about}}
            </div>
        </div>

        <div *ngIf="userBioDetail.authority == 'STUDENT' && userBioDetail.experience" class="card mt-3">


            <h4 class="section-title mt-2 ml-3">Experience</h4>

            <div class="mt-1 ml-3" [innerHTML]="userBioDetail.experience">
                {{userBioDetail.experience}}
            </div>
        </div>

        <div *ngIf="userBioDetail.authority == 'STUDENT' && userBioDetail.skillsList" class="card mt-3">


            <h4 class="section-title mt-2 ml-3">Skills</h4>

            <div class="mt-1 col-md-6">
                <div class="alert alert-secondary tech-secondary p-1 mx-1"
                    *ngFor="let skill of userBioDetail.skillsList" [innerHTML]="skill">

                    #{{skill}}

                </div>
            </div>
        </div>

        <div id='tabStudent' *ngIf="isMe && userBioDetail.authority == 'STUDENT' " class="justify-content">
            <div class="card mt-3 mb-2 tabs">
                <tabset>
                    <tab>
                        <ng-template tabHeading>Internships Applied <span *ngIf="applications?.length != 0"
                                class="badge badge-pill badge-secondary">{{applications?.length}}</span></ng-template>
                        <div class="donut-wrapper" *ngIf="loading">
                            <div class="donut multi"></div>
                        </div>

                        <div class="text-center my-5" *ngIf="applications?.length === 0 && !loading">
                            <p class="text-muted">You have not applied for any internships yet</p>
                        </div>
                        <div class="m-3">
                            <div class="row">
                                <div *ngFor="let internshipDetail of internshipDetails"
                                    class="col-12 col-lg-4 col-md-6 mb-2">
                                    <div class="card profile-item">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-3">
                                                    <img *ngIf="internshipDetail.companyLogo"
                                                        src={{internshipDetail.companyLogo}} class="card-img-top "
                                                        onError="this.onerror=null; this.src='assets/images/plain-user.png' ">
                                                    <!-- <img class="img-fluid" src="assets/images/user.svg" alt=""> -->
                                                    <!-- {{userBio.profileImageUrl}} -->
                                                    <svg *ngIf="!internshipDetail.companyLogo"
                                                        class="img-fluid rounded float-start" width="100%" height="43"
                                                        xmlns="http://www.w3.org/2000/svg" role="img"
                                                        aria-label="Placeholder: Responsive image"
                                                        preserveAspectRatio="xMidYMid slice" focusable="false">
                                                        <title></title>
                                                        <rect width="100%" height="100%" fill="#e1e1e1"></rect><text
                                                            x="40%" y="50%" fill="#202a44" dy=".3em" font-size="large"
                                                            font-weight="bold">{{internshipDetail?.companyName?.slice(0,
                                                            1) |
                                                            uppercase}}</text>
                                                    </svg>
                                                    <!-- <img *ngIf="userBio.profileImageUrl" src="assets/images/plain.png" class="card-img-top "
                                                                        onError="this.onerror=null; this.src='assets/images/user.svg' "> -->
                                                </div>
                                                <div class="col-md-9">


                                                    <div class="ml-1">

                                                        <h4>{{internshipDetail?.internshipTitle}}</h4>
                                                    </div>
                                                    <div>
                                                        <span *ngIf="internshipDetail?.companyName"
                                                            class="company-name p-1 mx-0" title="Company">
                                                            {{internshipDetail?.companyName}}
                                                            <!-- <a (click)="searchText = userBio.companyName; searchUsers()" class="alert-link"></a> -->
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <span class="company-name p-1 mx-0">
                                                            {{internshipDetail?.period}}

                                                        </span>
                                                    </div>
                                                    <div>
                                                        <i *ngIf="internshipDetail?.internshipStatus === 'ACTIVE'"
                                                            class="fas fa-check-circle">
                                                            {{internshipDetail?.internshipStatus}}</i>
                                                        <i *ngIf="internshipDetail?.internshipStatus === 'CLOSED'"
                                                            class="fas fa-times-circle">
                                                            {{internshipDetail?.internshipStatus}}</i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>


                                                <div class="col-12 pe-0 text-end">

                                                    <button class="btn btn-outline-secondary"
                                                        [routerLink]="['/details', internshipDetail.id ]">see
                                                        details <i class="fas fa-chevron-circle-right"></i></button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </tab>
                    <tab>
                        <ng-template tabHeading>Shortlisted Internships <span  *ngIf="approvedInternshipsDetails?.length != 0"
                                class="badge badge-pill badge-secondary">{{approvedInternshipsDetails?.length}}</span>
                        </ng-template>
                        <div class="donut-wrapper" *ngIf="loading">
                            <div class="donut multi"></div>
                        </div>
                        <div class="text-center my-5" *ngIf="approvedInternshipsDetails?.length === 0 && !loading">
                            <p class="text-muted">You have not been shortlisted in any internship</p>
                        </div>

                        <div class="m-3">
                            <div class="row">
                                <div *ngFor="let approvedInternshipDetails of approvedInternshipsDetails"
                                    class="col-12 col-lg-4 col-md-6 mb-2">
                                    <div class="card profile-item">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-3">
                                                    <img *ngIf="approvedInternshipDetails.companyLogo"
                                                        src={{approvedInternshipDetails.companyLogo}}
                                                        class="card-img-top "
                                                        onError="this.onerror=null; this.src='assets/images/plain-user.png' ">
                                                    <!-- <img class="img-fluid" src="assets/images/user.svg" alt=""> -->
                                                    <!-- {{userBio.profileImageUrl}} -->
                                                    <svg *ngIf="!approvedInternshipDetails.companyLogo"
                                                        class="img-fluid rounded float-start" width="100%" height="43"
                                                        xmlns="http://www.w3.org/2000/svg" role="img"
                                                        aria-label="Placeholder: Responsive image"
                                                        preserveAspectRatio="xMidYMid slice" focusable="false">
                                                        <title></title>
                                                        <rect width="100%" height="100%" fill="#e1e1e1"></rect><text
                                                            x="40%" y="50%" fill="#202a44" dy=".3em" font-size="large"
                                                            font-weight="bold">{{approvedInternshipDetails?.companyName?.slice(0,
                                                            1) |
                                                            uppercase}}</text>
                                                    </svg>
                                                    <!-- <img *ngIf="userBio.profileImageUrl" src="assets/images/plain.png" class="card-img-top "
                                                                            onError="this.onerror=null; this.src='assets/images/user.svg' "> -->
                                                </div>
                                                <div class="col-md-9">


                                                    <div class="ml-1">

                                                        <h4>{{approvedInternshipDetails?.internshipTitle}}</h4>
                                                    </div>
                                                    <div>
                                                        <span *ngIf="approvedInternshipDetails?.companyName"
                                                            class="company-name p-1 mx-0" title="Company">
                                                            {{approvedInternshipDetails?.companyName}}
                                                            <!-- <a (click)="searchText = userBio.companyName; searchUsers()" class="alert-link"></a> -->
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <span class="company-name p-1 mx-0">
                                                            {{approvedInternshipDetails?.period}}

                                                        </span>
                                                    </div>
                                                    <div>
                                                        <i *ngIf="approvedInternshipDetails?.internshipStatus === 'ACTIVE'"
                                                            class="fas fa-check-circle">
                                                            {{approvedInternshipDetails?.internshipStatus}}</i>
                                                        <i *ngIf="approvedInternshipDetails?.internshipStatus === 'CLOSED'"
                                                            class="fas fa-times-circle">
                                                            {{approvedInternshipDetails?.internshipStatus}}</i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>


                                                <div class="col-12 pe-0 text-end">

                                                    <button class="btn btn-outline-secondary"
                                                        [routerLink]="['/details', approvedInternshipDetails.id]">see
                                                        details <i class="fas fa-chevron-circle-right"></i></button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </tab>
                    <tab >
                        <ng-template tabHeading>Rejected Internships <span *ngIf="rejectedInternshipsDetails?.length != 0"
                            class="badge badge-pill badge-secondary">{{rejectedInternshipsDetails?.length}}</span>
                    </ng-template>
                        <div class="donut-wrapper" *ngIf="loading">
                            <div class="donut multi"></div>
                        </div>
                        <div class="text-center my-5" *ngIf="rejectedInternshipsDetails?.length === 0 && !loading">
                            <p class="text-muted">You have not been rejected in any internship</p>
                        </div>

                        <div class="m-3">
                            <div class="row">
                                <div *ngFor="let rejectedInternshipDetails of rejectedInternshipsDetails"
                                    class="col-12 col-lg-4 col-md-6 mb-2">
                                    <div class="card profile-item">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-3">
                                                    <img *ngIf="rejectedInternshipDetails.companyLogo"
                                                        src={{rejectedInternshipDetails.companyLogo}}
                                                        class="card-img-top "
                                                        onError="this.onerror=null; this.src='assets/images/plain-user.png' ">
                                                    <!-- <img class="img-fluid" src="assets/images/user.svg" alt=""> -->
                                                    <!-- {{userBio.profileImageUrl}} -->
                                                    <svg *ngIf="!rejectedInternshipDetails.companyLogo"
                                                        class="img-fluid rounded float-start" width="100%" height="43"
                                                        xmlns="http://www.w3.org/2000/svg" role="img"
                                                        aria-label="Placeholder: Responsive image"
                                                        preserveAspectRatio="xMidYMid slice" focusable="false">
                                                        <title></title>
                                                        <rect width="100%" height="100%" fill="#e1e1e1"></rect><text
                                                            x="40%" y="50%" fill="#202a44" dy=".3em" font-size="large"
                                                            font-weight="bold">{{rejectedInternshipDetails?.companyName?.slice(0,
                                                            1) |
                                                            uppercase}}</text>
                                                    </svg>
                                                    <!-- <img *ngIf="userBio.profileImageUrl" src="assets/images/plain.png" class="card-img-top "
                                                                        onError="this.onerror=null; this.src='assets/images/user.svg' "> -->
                                                </div>
                                                <div class="col-md-9">


                                                    <div class="ml-1">

                                                        <h4>{{rejectedInternshipDetails?.internshipTitle}}</h4>
                                                    </div>
                                                    <div>
                                                        <span *ngIf="rejectedInternshipDetails?.companyName"
                                                            class="company-name p-1 mx-0" title="Company">
                                                            {{rejectedInternshipDetails?.companyName}}
                                                            <!-- <a (click)="searchText = userBio.companyName; searchUsers()" class="alert-link"></a> -->
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <span class="company-name p-1 mx-0">
                                                            {{rejectedInternshipDetails?.period}}

                                                        </span>
                                                    </div>
                                                    <div>
                                                        <i *ngIf="rejectedInternshipDetails?.internshipStatus === 'ACTIVE'"
                                                            class="fas fa-check-circle">
                                                            {{rejectedInternshipDetails?.internshipStatus}}</i>
                                                        <i *ngIf="rejectedInternshipDetails?.internshipStatus === 'CLOSED'"
                                                            class="fas fa-times-circle">
                                                            {{rejectedInternshipDetails?.internshipStatus}}</i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>


                                                <div class="col-12 pe-0 text-end">

                                                    <button class="btn btn-outline-secondary"
                                                        [routerLink]="['/details', rejectedInternshipDetails.id]">see
                                                        details <i class="fas fa-chevron-circle-right"></i></button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </tab>
                    <tab >
                        <ng-template tabHeading>Pending Internships <span *ngIf="pendingInternshipsDetails?.length != 0"
                            class="badge badge-pill badge-secondary">{{pendingInternshipsDetails?.length}}</span>
                    </ng-template>
                        <div class="donut-wrapper" *ngIf="loading">
                            <div class="donut multi"></div>
                        </div>
                        <div class="text-center my-5" *ngIf="pendingInternshipsDetails?.length === 0 && !loading">
                            <p class="text-muted">All applications have response</p>
                        </div>

                        <div class="m-3">
                            <div class="row">
                                <div *ngFor="let pendingInternshipDetails of pendingInternshipsDetails"
                                    class="col-12 col-lg-4 col-md-6 mb-2">
                                    <div class="card profile-item">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-3">
                                                    <img *ngIf="pendingInternshipDetails.companyLogo"
                                                        src={{pendingInternshipDetails.companyLogo}}
                                                        class="card-img-top "
                                                        onError="this.onerror=null; this.src='assets/images/plain-user.png' ">
                                                    <!-- <img class="img-fluid" src="assets/images/user.svg" alt=""> -->
                                                    <!-- {{userBio.profileImageUrl}} -->
                                                    <svg *ngIf="!pendingInternshipDetails.companyLogo"
                                                        class="img-fluid rounded float-start" width="100%" height="43"
                                                        xmlns="http://www.w3.org/2000/svg" role="img"
                                                        aria-label="Placeholder: Responsive image"
                                                        preserveAspectRatio="xMidYMid slice" focusable="false">
                                                        <title></title>
                                                        <rect width="100%" height="100%" fill="#e1e1e1"></rect><text
                                                            x="40%" y="50%" fill="#202a44" dy=".3em" font-size="large"
                                                            font-weight="bold">{{pendingInternshipDetails?.companyName?.slice(0,
                                                            1) |
                                                            uppercase}}</text>
                                                    </svg>
                                                    <!-- <img *ngIf="userBio.profileImageUrl" src="assets/images/plain.png" class="card-img-top "
                                                                        onError="this.onerror=null; this.src='assets/images/user.svg' "> -->
                                                </div>
                                                <div class="col-md-9">


                                                    <div class="ml-1">

                                                        <h4>{{pendingInternshipDetails?.internshipTitle}}</h4>
                                                    </div>
                                                    <div>
                                                        <span *ngIf="pendingInternshipDetails?.companyName"
                                                            class="company-name p-1 mx-0" title="Company">
                                                            {{pendingInternshipDetails?.companyName}}
                                                            <!-- <a (click)="searchText = userBio.companyName; searchUsers()" class="alert-link"></a> -->
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <span class="company-name p-1 mx-0">
                                                            {{pendingInternshipDetails?.period}}

                                                        </span>
                                                    </div>
                                                    <div>
                                                        <i *ngIf="pendingInternshipDetails?.internshipStatus === 'ACTIVE'"
                                                            class="fas fa-check-circle">
                                                            {{pendingInternshipDetails?.internshipStatus}}</i>
                                                        <i *ngIf="pendingInternshipDetails?.internshipStatus === 'CLOSED'"
                                                            class="fas fa-times-circle">
                                                            {{pendingInternshipDetails?.internshipStatus}}</i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>


                                                <div class="col-12 pe-0 text-end">

                                                    <button class="btn btn-outline-secondary"
                                                        [routerLink]="['/details', pendingInternshipDetails.id]">see
                                                        details <i class="fas fa-chevron-circle-right"></i></button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </tab>

                </tabset>
            </div>
        </div>

        <!-- <div hidden *ngIf="userBioDetail?.authority == 'STUDENT' && applications?.length != 0" class="card p-3 mt-3">
            <h4>Summary of companies sent applications to</h4>
             

            <div *ngFor="let item of internshipDetails; trackBy: trackCompanyName">
                <h5 *ngIf="displayCompanyName(item)">{{ item.companyName }}</h5>
                <ul>
                    <li>
                        <p>Application sent on request position {{item.internshipTitle}} at company
                            {{item.companyName}} <small><a *ngIf="isMe"
                                    [routerLink]="['/details', item.id]">see more</a></small> </p>
                    </li>
                </ul>
            </div>
         
            <div hidden>
                <div *ngFor="let internshipDetail of internshipDetails">
                    <h6 *ngIf="internshipDetail.companyName">{{internshipDetail.companyName}}</h6>
                    <ul>
                        <li>
                            <p>Application sent on request position {{internshipDetail.internshipTitle}} at
                                {{internshipDetail.companyName}} <small><a
                                        [routerLink]="['/details', internshipDetail.id]">see more</a></small> </p>
                        </li>
                    </ul>

                </div>



            </div>
        </div> -->


        <div *ngIf="!isMe" id='tabEmployer' class="mt-3 justify-content">
            <tabset>

                <tab class="card" >
                    <ng-template tabHeading>Active Posted Internships <span *ngIf="activeInternshipsPostedByMe?.length != 0" class="badge badge-pill badge-secondary">{{activeInternshipsPostedByMe.length}}</span></ng-template>
                    <div class="m-3">
                        <div class="donut-wrapper" *ngIf="loading">
                            <div class="donut multi"></div>
                        </div>


                        <div class="text-center my-5" *ngIf="activeInternshipsPostedByMe?.length === 0 && !loading">
                            <p class="text-muted">No internship is active</p>
                        </div>
                    </div>
                    <div class="m-3">

                        <div class="row">
                            <div *ngFor="let activeInternshipPostedByMe of activeInternshipsPostedByMe"
                                class="col-12 col-lg-3 col-md-6 mb-2">
                                <div class="card profile-item ">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <!-- <img *ngIf="user.profileImageUrl" src={{user.profileImageUrl}} class="card-img-top "
                                                                onError="this.onerror=null; this.src='assets/images/plain-user.png' "> -->
                                                <!-- <img class="img-fluid" src="assets/images/user.svg" alt=""> -->
                                                <!-- {{userBio.profileImageUrl}} -->
                                                <svg class="img-fluid rounded float-start" width="100%" height="43"
                                                    xmlns="http://www.w3.org/2000/svg" role="img"
                                                    aria-label="Placeholder: Responsive image"
                                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                                    <title></title>
                                                    <rect width="100%" height="100%" fill="#e1e1e1"></rect><text x="40%"
                                                        y="50%" fill="#202a44" dy=".3em" font-size="large"
                                                        font-weight="bold">{{activeInternshipPostedByMe?.companyEmail?.slice(0,
                                                        1) |
                                                        uppercase}}</text>
                                                </svg>
                                                <!-- <img *ngIf="userBio.profileImageUrl" src="assets/images/plain.png" class="card-img-top "
                                                                            onError="this.onerror=null; this.src='assets/images/user.svg' "> -->
                                            </div>
                                            <div class="col-md-9">


                                                <div class="ml-1">

                                                    <h4>{{activeInternshipPostedByMe.internshipTitle}}</h4>
                                                </div>
                                                <div>
                                                    <span *ngIf="activeInternshipPostedByMe.companyName"
                                                        class="company-name p-1 mx-0" title="Company">
                                                        Company: {{activeInternshipPostedByMe?.companyName}}
                                                        <!-- <a (click)="searchText = userBio.companyName; searchUsers()" class="alert-link"></a> -->
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="company-name p-1 mx-0">
                                                        Location: {{activeInternshipPostedByMe?.location}}

                                                    </span>
                                                </div>


                                                <div>

                                                    <i *ngIf="activeInternshipPostedByMe.internshipStatus === 'ACTIVE'"
                                                        class="fas fa-check-circle">
                                                        {{activeInternshipPostedByMe.internshipStatus}}</i>
                                                </div>

                                            </div>
                                        </div>



                                        <div>


                                            <div class="col-12 pe-0 text-end">

                                                <button class="btn btn-outline-secondary"
                                                    [routerLink]="['/internship', activeInternshipPostedByMe.id]">see
                                                    details <i class="fas fa-chevron-circle-right"></i></button>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </tab>


            </tabset>
        </div>

        <div *ngIf="isMe" class="col-md-4 mt-5">


            <div type="button" data-toggle="modal" data-target="#exampleModal2" class="btn btn-danger mb-5"
                (click)="softDeactivateAccount()">Deactivate Account</div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Deactivate account of user {{userEmail}}
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>We are sorry to see you leave <i class="far fa-frown"></i>. Are you sure you want to
                                deactivate your account {{userEmail}} ? </p>
                            <p>You can later activate your account</p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                (click)="deactivateAccount()">Deactivate</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>





    </div>