<div class="container-fluid justify-content-center">
    
    <div class="ml-5 pl-5">
        <div class="ml-5 pl-5">
            <div class="ml-5 pl-1">
                <button class="btn btn-back btn-outline-secondary mb-3 ml-5" [routerLink]="['/users', profile.email]">
                    <span><i class="fas fa-arrow-left"></i></span> Back
                </button>
            </div>
        </div>
    </div>

    <div class="donut-wrapper" *ngIf="loading">
        <div class="donut multi"></div>
    </div>
    <div *ngIf="!loading">

        <div class="mt-2">
            <div>
                <form role="form">
                    <div align="centre">
                        <div>
                            <div class="row">


                                <div class="col-md-2"></div>
                                <div class="card bg-light  p-3 col-md-8">

                                    <div *ngIf="isStudent" class="STUDENT">
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="username">Username</label>
                                                <input readonly type="text" class="form-control" name="username"
                                                    [(ngModel)]="profile.username">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="name">Email</label>
                                                <input readonly type="text" class="form-control" name="email"
                                                    [(ngModel)]="profile.email">
                                            </div>
                                        </div>

                                        <div class="row mb-3 ">
                                            <div class="col-md-6">
                                                <label for="name">Name *</label>
                                                <input type="text" class="form-control" name="name"
                                                    [(ngModel)]="profile.name">
                                            </div>

                                            <div class="col-md-6">
                                                <label for="institution">Institution *</label>
                                                <input type="text" class="form-control" name="institution"
                                                    [(ngModel)]="profile.institution">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="programme">Programme *</label>

                                                <select autocomplete="on" class="form-control" name="programme"
                                                    type="text" [(ngModel)]="profile.programme">
                                                    <option selected disabled>Select correct answer</option>

                                                    <option *ngFor="let programme of programmes">{{programme}}</option>

                                                </select>

                                            </div>
                                            <div class="col-md-6">
                                                <label for="course">Course *</label>
                                                <input type="text" class="form-control" name="course"
                                                    [(ngModel)]="profile.course">
                                            </div>
                                        </div>


                                        <div class="mb-3">
                                            <label for="skills">Skills <small>( Add skills with comma
                                                    separation)</small></label>
                                            <input type="text" class="form-control" name="skills"
                                                placeholder="eg CSS , Javascript , Docker" [(ngModel)]="profile.skills">
                                        </div>
                                        <div class=" mb-3">
                                            <label for="experience">Experience </label>
                                            <textarea type="text" class="form-control" name="experience"
                                                [(ngModel)]="profile.experience"></textarea>
                                        </div>

                                    </div>
                                    <div *ngIf="!isStudent" class="EMPLOYER">

                                        <div class="row mt-3 mb-3">
                                            <div class="col-md-6">
                                                <label for="companyName">Company Name *</label>
                                                <input *ngIf="!profile.name" type="text" class="form-control"
                                                    name="companyName" [(ngModel)]="profile.name">
                                                <input *ngIf="profile.name" readonly type="text" class="form-control"
                                                    name="companyName" [(ngModel)]="profile.name">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="companyEmail">companyEmail *</label>
                                                <input readonly type="text" class="form-control" name="companyEmail"
                                                    [(ngModel)]="profile.email">
                                            </div>
                                        </div>


                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="name">Company Logo *</label>

                                                <input type="text" class="form-control" name="course"
                                                    [(ngModel)]="profile.companyLogo">

                                            </div>
                                            <div class="col-md-6">
                                                <label for="name">Company Website</label>
                                                <input type="text" class="form-control" name="course"
                                                    [(ngModel)]="profile.companyWebsite">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="name">Company Location *</label>
                                                <input type="text" class="form-control" name="course"
                                                    [(ngModel)]="profile.companyLocation">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="name">Company contact phone number</label>
                                                <input type="text" class="form-control" name="course"
                                                    [(ngModel)]="profile.companyPhoneNumber">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="name">Company Industry *</label>
                                                <input type="text" class="form-control" name="course"
                                                    [(ngModel)]="profile.companyIndustry">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="name">Current number of employees</label>
                                                <input type="text" class="form-control" name="course"
                                                    [(ngModel)]="profile.companyNumberOfEmployees">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="name">Company Description *</label>
                                                <textarea name="companyDescription" class="form-control" cols="15"
                                                    rows="5" [(ngModel)]="profile.companyDescription"></textarea>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="name">Company Postal Address</label>
                                                <textarea name="companyPostalAddress" class="form-control" cols="15"
                                                    rows="5" [(ngModel)]="profile.companyPostalAddress"></textarea>
                                            </div>
                                        </div>






                                    </div>
                                    <div class="col-md-2" align="centre">
                                        <button *ngIf="isStudent" class="btn btn-outline-primary form-control"
                                            (click)="updateUser()"
                                            [disabled]="!profile.name || !profile.institution || !profile.programme || !profile.course">Update Student</button>

                                        <button *ngIf="!isStudent" class="btn btn-outline-primary form-control"
                                            (click)="updateUser()"
                                            [disabled]="!profile.companyLogo || !profile.companyLocation || !profile.companyIndustry || !profile.companyDescription">Update Employer</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>