<div class="container-fluid justify-content-center">

    <div class="ml-5 pl-5">
        <div class="ml-5 pl-5">
            <div class="ml-5 pl-1">
                <button class="btn btn-back btn-outline-secondary mb-2 ml-5" (click)="back()">
                    <span><i class="fas fa-arrow-left"></i></span> Back
                </button>
            </div>
        </div>
    </div>

    <div class="donut-wrapper" *ngIf="loading">
        <div class="donut multi"></div>
    </div>
    <div *ngIf="!loading">

        <div class="mb-2">
            <div>
                <form role="form">
                    <div align="centre">
                        <div>
                            <div class="row">

                                <div class="col-md-2"></div>
                                <div class="card bg-light  p-3 col-md-8">
                                    <div hidden class="col-md-2 col-2 pt-2">
                                        <img *ngIf="profile.profileImageUrl" src={{profile.profileImageUrl}}
                                            class="avatar img-circle"
                                            onError="this.onerror=null; this.src='assets/images/plain-user.png' ">
                                        <!-- <img class="img-fluid" src="assets/images/user.svg" alt=""> -->
                                        <!-- {{userBio.profileImageUrl}} -->
                                        <svg *ngIf="!profile.profileImageUrl" class="avatar img-circle" width="100%"
                                            height="43" xmlns="http://www.w3.org/2000/svg" role="img"
                                            aria-label="Placeholder: Responsive image"
                                            preserveAspectRatio="xMidYMid slice" focusable="false">
                                            <title></title>
                                            <rect width="100%" height="100%" fill="#e1e1e1"></rect><text x="40%" y="50%"
                                                fill="#202a44" dy=".3em" font-size="large"
                                                font-weight="bold">{{profile.email.slice(0, 1) |
                                                uppercase}}</text>
                                        </svg>
                                        <!-- <img *ngIf="userBio.profileImageUrl" src="assets/images/plain.png" class="card-img-top "
                                                            onError="this.onerror=null; this.src='assets/images/user.svg' "> -->
                                    </div>
                                    <div class="Profile Picture Card">
                                        <div style="margin-left:500px">
                                            <div *ngIf="msg" [innerHtml]='msg' style="color: red;"></div>
                                            <div class="image">
                                                <img *ngIf="profile.profileImageUrl" [src]="profile.profileImageUrl"
                                                    class="rounded-circle" height="200" width="200">
                                                <img *ngIf="!profile.profileImageUrl" class="rounded-circle" height="200" width="200"
                                                    src='assets/images/plain-user.png'>
                                               
                                            </div>
                                            <p></p>
                                            <h6 >
                                                <input accept="image/*" (change)="selectFile($event)"
                                                    style="margin-right:200px" type="file">
                                            </h6>
                                        </div>
                                    </div>



                                    <div *ngIf="isStudent" class="STUDENT">
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="username">Username</label>
                                                <input readonly type="text" class="form-control" name="username"
                                                    [(ngModel)]="profile.username">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="name">Email</label>
                                                <input readonly type="text" class="form-control" name="email"
                                                    [(ngModel)]="profile.email">
                                            </div>
                                        </div>

                                        <div class="row mb-3 ">
                                            <div class="col-md-6">
                                                <label for="name">Name *</label>
                                                <input type="text" class="form-control" name="name"
                                                    [(ngModel)]="profile.name">
                                            </div>

                                            <div class="col-md-6">
                                                <label for="institution">Institution *</label>
                                                <select autocomplete="on" style="height: 35px; width: 588px;"
                                                    name="institution" type="text" [(ngModel)]="profile.institution">

                                                    <option *ngFor="let institution of institutions">{{institution}}
                                                    </option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="programme">Programme *</label>

                                                <select autocomplete="on" style="height: 35px; width: 588px;"
                                                    name="programme" type="text" [(ngModel)]="profile.programme">

                                                    <option *ngFor="let programme of programmes">{{programme}}</option>

                                                </select>

                                            </div>
                                            <div class="col-md-6">
                                                <label for="course">Course *</label>
                                                <select autocomplete="on" style="height: 35px; width: 588px;"
                                                    name="course" type="text" [(ngModel)]="profile.course">

                                                    <option *ngFor="let course of courses">{{course}}</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label for="about">About me </label>

                                                <angular-editor class="editor form-control"
                                                    [placeholder]="'Tell us about you'" cols="55" rows="155"
                                                    name="about" style="height: auto" [(ngModel)]="profile.about">
                                                </angular-editor>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="skills">Skills <small>( Add skills with comma
                                                        separation)</small></label>

                                                <angular-editor class="editor form-control"
                                                    [placeholder]="'Enter skills'" cols="55" rows="155" name="skills"
                                                    style="height: auto" [(ngModel)]="profile.skills">
                                                </angular-editor>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label for="experience">Experience </label>

                                                <angular-editor class="editor form-control"
                                                    [placeholder]="'Enter experience'" cols="55" rows="155"
                                                    name="experience" style="height: auto"
                                                    [(ngModel)]="profile.experience">
                                                </angular-editor>
                                            </div>
                                            <div class=" mb-3 col-md-6">
                                                <label for="experience">Experience Level <small>( in years )</small>
                                                </label>
                                                <select autocomplete="on" style="height: 35px; width: 588px;"
                                                    name="experienceLevel" type="text"
                                                    [(ngModel)]="profile.experienceLevel">

                                                    <option *ngFor="let experienceLevel of experienceLevels">
                                                        {{experienceLevel}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div *ngIf="!isStudent" class="EMPLOYER">
                                        <!-- <img class="justify-content-center" *ngIf="profile.profileImageUrl" name="profileImageUrl" [src]="profile.profileImageUrl" height="200"
                                        width="200" > -->

                                        <div class="row mb-3">
                                            <div >
                                                <label for="companyName">Company name *</label>
                                                <input type="text" class="form-control" name="companyName"
                                                    [(ngModel)]="profile.name">

                                            </div>
                                            <!-- <div hidden class="col-md-6">
                                                <label for="email">Company email *</label>
                                                <input readonly type="email" class="form-control" name="email"
                                                    [(ngModel)]="profile.email">
                                            </div> -->
                                        </div>


                                        <div class="row mb-3">
                                            <div hidden class="col-md-6">
                                                <label for="name">Company logo *</label>

                                                <input class="form-control" (change)="selectFile($event)"
                                                    style="margin-right:200px" type="file">

                                            </div>
                                            <!-- <div class="col-md-6">
                                                <label for="email">Company email *</label>
                                                <input readonly type="email" class="form-control" name="email"
                                                    [(ngModel)]="profile.email">
                                            </div> -->
                                            <div>
                                                <label for="name">Company website</label>
                                                <input type="text" class="form-control" name="companyWebsite"
                                                    [(ngModel)]="profile.companyWebsite">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="name">Company city location *</label>

                                                <select autocomplete="on" style="height: 35px; width: 588px;"
                                                    name="companyLocation" type="text"
                                                    [(ngModel)]="profile.companyLocation">

                                                    <option
                                                        *ngFor="let companyLocation of companyLocations ;let i = index">
                                                        {{companyLocation}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="name">Company industry *</label>
                                                <select autocomplete="on" style="height: 35px; width: 588px;"
                                                    name="companyIndustry" type="text"
                                                    [(ngModel)]="profile.companyIndustry">

                                                    <option
                                                        *ngFor="let companyIndustry of companyIndustrys ;let i = index">
                                                        {{companyIndustry}}
                                                    </option>
                                                </select>

                                            </div>
                                            <div hidden class="col-md-6">
                                                <label for="companyPhoneNumber">Company contact phone number</label>
                                                <input type="text" class="form-control" name="companyPhoneNumber"
                                                    [(ngModel)]="profile.companyPhoneNumber">
                                            </div>
                                        </div>
                                        <div hidden class="row mb-3">

                                            <div class="col-md-6">
                                                <label for="name">Current number of employees</label>
                                                <select autocomplete="on" style="height: 35px; width: 588px;"
                                                    name="companyNumberOfEmployees" type="text"
                                                    [(ngModel)]="profile.companyNumberOfEmployees">

                                                    <option *ngFor="let in of counter(50) ;let i = index">
                                                        {{i+1}}
                                                    </option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="name">Company description <small>( Optional
                                                        )</small></label>


                                                <angular-editor class="editor form-control"
                                                    [placeholder]="'Enter company description'" cols="55" rows="155"
                                                    style="height: auto" name="companydDescription"
                                                    [(ngModel)]="profile.companyDescription">
                                                </angular-editor>
                                            </div>
                                            <div hidden class="col-md-6">
                                                <label for="name">Company postal address</label>

                                                <angular-editor class="editor form-control"
                                                    [placeholder]="'Enter company post Address'" cols="55" rows="155"
                                                    style="height: auto" name="companyPostalAddress"
                                                    [(ngModel)]="profile.companyPostalAddress">
                                                </angular-editor>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-2" align="centre">
                                        <button *ngIf="isStudent" class="btn btn-outline-primary form-control"
                                            (click)="updateUser()"
                                            [disabled]="!profile.name || !profile.institution || !profile.programme || !profile.course">Update
                                            Student</button>

                                        <button *ngIf="!isStudent" class="btn btn-outline-primary form-control"
                                            (click)="updateUser()"
                                            [disabled]="!profile.companyLocation || !profile.companyIndustry ">Update
                                            Employer</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>