::ng-deep .angular-editor-textarea {
    background: #fff!important;
    min-height: 200px!important;
  }
  .container-profilepic {
    width: 150px;
    height: 150px;
}
.photo-preview {
    background-image: url( https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80 );
    background-size: cover;
    background-position: center;
}
.middle-profilepic {
    background-color: rgba( 255,255,255, 0.69 );
}
.container-profilepic:hover .middle-profilepic {
    display: flex!important;
    cursor: pointer;
}